// Bootstrap
@import "../../vendor/twbs/bootstrap/scss/bootstrap";

body {
    background-color: skyblue;
    font-size: 18px;
}

main {
    margin: 10px;
}

#fleeButtonTest {
    transition : transform 0.5s;
    //transform: rotate(360deg);
}