// Bootstrap
@import "../../vendor/twbs/bootstrap/scss/bootstrap";

body {
    background-color: skyblue;
    font-size: 18px;
}

main {
    margin: 10px;
}

#boutonPortrait {
    margin-left: 10vw;
    width: 50vw;
    border-radius: 20px;
}

#boutonPortrait:hover {
    scale: 1.2;
    transition: 2s ease-in-out;
}

.portrait {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.portraitOnClick {
    animation: 1s spin ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(360deg) ;
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        transform: rotate(0deg) ;
        scale: 1;
    }
}