<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nuit de l'info 2024{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>

        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>
