

{% extends 'base.html.twig' %}

{% block titre %}Page d'accueil — Nuit de l'info 2024{% endblock %}

{% block body %}
    <div id="containerAbove">
        <div id="aboveTheOcean">
            <canvas id="canvas">

            </canvas>
            <div id="title">
                <h1 id="title">Ocean</h1>
            </div>
        </div>
        <div id="wrapper"></div>
    </div>

    <div id="belowTheOcean" class="justify-content-center flex-column">
        <div id="bubble-container">
            {{ include('fishTemplate.html.twig') }}
        </div>
        <div id="groot"></div>
    </div>
    <script src="{{ asset('js/water.js') }}"></script>
    <script src="{{ asset('js/background.js') }}"></script>
    <script src="{{ asset('js/bubble.js') }}"></script>
{% endblock %}
