{% extends 'base.html.twig' %}

{% block titre %}Page d'accueil — Nuit de l'info 2024{% endblock %}

{% block body %}
    <div>
        <a id="test" type="button" class="btn btn-primary" href="podcastEpisode1">Episode 1 : INTERVIEW FLORIAN SÉVELLEC</a>
    </div>
    <div>
        <a id="test" type="button" class="btn btn-primary" href="podcastEpisode2">Episode 2 : INTERVIEW FREDERIC LE MOIGNE</a>
    </div>
{% endblock %}